

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    margin: 50px auto 20px auto;
    max-width: 1290px;
    
    background-color:honeydew;
    box-shadow:2px 2px 4px 0 rgb(46, 54, 54);
    border-radius: 6px;
    padding: 10px 25px 0 25px;
}
.navbar{
    display: flex;
    align-items: center;
    
    list-style-type: none;

}
li{
margin-left: 70px;

}

.header__star {
    
    color:grey;
}

.header__star-active {

    color: red;
}