.card-text{
    font-size: 25px;
    color:dimgrey;
}
.fa-star{
    font-size: 40px;
    font-weight: 400;
   
}

.star-oncard{
    float: right;
    color: grey;
}

.star-active{
    float: right;
    color: red;
}